@font-face {
    font-family: ProximaNovaLight;
    src: url("../fonts/proxima_nova_thin.ttf") format("ttf"),
    url("../fonts/proxima_nova_thin.woff") format("woff");
    font-weight: lighter;
}
@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/proxima_nova_bold.ttf") format("ttf"),
    url("../fonts/proxima_nova_bold.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: ProximaNova;
    src: url("../fonts/proxima_nova_reg.ttf") format("ttf"),
    url("../fonts/proxima_nova_reg.woff") format("woff");
    font-weight: normal;
}