footer{
    background: $footer-bg;
    padding: 40px;
    .footer-columns{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        &--column {
            -webkit-box-flex: 1;
                -ms-flex: 1 1;
                    flex: 1 1;
            color: $footer-text;
            @media (max-width:991px){
                -webkit-box-flex: 1;
                    -ms-flex: 1 1 50%;
                        flex: 1 1 50%;
            }
            @media (max-width:767px){
                width:100%;
            }
            &.footer-column-1{
                @media (max-width:991px){
                    -webkit-box-ordinal-group:2;
                        -ms-flex-order:1;
                            order:1;
                }
            }
            &.footer-column-2{
                @media (max-width:991px){
                    -webkit-box-ordinal-group:4;
                        -ms-flex-order:3;
                            order:3;
                }
                @media (max-width:767px){
                    -webkit-box-ordinal-group:3;
                        -ms-flex-order:2 ;
                            order:2 ;
                }
            }
            &.footer-column-3{
                @media (max-width:991px){
                    -webkit-box-ordinal-group:3;
                        -ms-flex-order:2;
                            order:2;
                }
                @media (max-width:767px){
                    -webkit-box-ordinal-group: 4;
                        -ms-flex-order: 3;
                            order: 3;
                }
            }
            h2{
                font-size: 22px;
                font-size: 2.2rem;
                font-weight: normal;
            }
            ul{
                padding: 0;
                li{
                    list-style: none;
                    a{
                        color: $footer-text;
                        text-decoration: none;
                        font-size:15px;
                        font-size:1.5rem;
                        padding:5px;
                        display: inline-block;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        @media (max-width:767px){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }
    .footer-contact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        color: $footer-text;
        font-size:20px;
        font-size:2rem;
        margin-top: 50px;
        @media (max-width:600px){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        a{
            color: $footer-text;
            text-decoration: none;
            font-size:20px;
            font-size:2rem;
            &:hover{
                color: $primary-color;
            }
        }
        &--telephone{
            -webkit-box-flex:1;
                -ms-flex:1;
                    flex:1;
            text-align: right;
            margin-right: 20px;
            @media (max-width:600px){
                text-align:center;
                margin:0;
            }
        }
        &--email{
            -webkit-box-flex:1;
                -ms-flex:1;
                    flex:1;
            text-align: left;
            margin-left: 20px;
            @media (max-width:600px){
                text-align:center;
                margin:0;
            }
        }
    }
    .footer-copy{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: $footer-text;
        margin-top: 20px;
        font-size: 13px;
        font-size: 1.3rem;
        span{
            margin: 0 5px;
            text-align: center;
        }
        a{
            margin: 0 5px;
            color: $footer-text;
            text-decoration: none;
            &:hover{
                color: $primary-color;
            }
        }
    }
    .footer-social{
        text-align: center;
        padding-top: 30px;
        font-size: 30px;
        a{
            color: #fff;
            margin:0 10px;
            &:hover{
                color: $primary-color;
            }
        }
    }
}