html{
    font-size: 62.5%;
}
body{
    margin:0;
    font-family: $alpha-font;
    font-weight:normal;
}
*{
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}
.container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}
a{
    -webkit-transition: .2s linear all;
    transition: .2s linear all;
}