.head-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 40px;
    &--left{
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        a{
            img{
                width: 100%;
                max-width: 407px;
                max-height: 60px;
                @media(max-width:767px){
                    max-width: 100%;
                    max-height: 100%;
                    margin: 0 auto;
                    display: block;
                    padding: 10px 20px;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                }
            }
        }
    }
    &--right{
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        a{
            padding: 7px 50px;
            text-decoration: none;
            border-radius: 10px;
            text-transform: uppercase;
            float:right;
            font-size:15px;
            font-size:1.5rem;
            @media(max-width:767px){
                display: inline-block;
                width: auto;
                float: none;
                padding: 10px 20px;
            }
        }
        .mobile-menu-trigger{
            display: none;
            float: right;
            width: 40px;
            margin-left: 30px;
            position: relative;
            cursor: pointer;
            @media(max-width:991px){
                display:block;
            }
            @media(max-width:767px){
                position: absolute;
                right: 10px;
                top: 10px;
            }
            #bar1{
                height: 6px;
                width: 100%;
                background: $secondary-color;
                display: block;
                -webkit-transition: .2s linear all;
                transition: .2s linear all;
            } 
            #bar2{
                height: 6px;
                width: 100%;
                background: $secondary-color;
                display: block;
                margin: 6px 0;
            }
            #bar3{
                height: 6px;
                width: 100%;
                background: $secondary-color;
                display: block;
                -webkit-transition: .2s linear all;
                transition: .2s linear all;
            }
            &.active{
                z-index: 999;
                #bar1{
                    -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                    margin-top: 12px;
                }
                #bar2{
                    display: none;
                }
                #bar3{
                    -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                    margin-top: -6px;
                }  
            }
        }
        @media(max-width:767px){
            width:100%;
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
        }
    }
    &--left{
        @media(max-width:767px){
            width:100%;
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
        }
    }
    @media(max-width:991px){
        border-bottom: 3px solid $secondary-color;
    }
    @media(max-width:767px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
        padding: 10px;
    }
}
nav{
    background: #d2d6e3;
    #menu-main-nav{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
        padding: 0 20px;
        > li{
            -webkit-box-flex:1;
                -ms-flex:1 1 auto;
                    flex:1 1 auto;
            list-style: none;
            @media(max-width:991px){
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
            }
            > a{
                padding: 15px 5px;
                display: block;
                text-align: center;
                text-decoration: none;
                color: $secondary-color;
                text-transform: uppercase;
                font-size: 15px;
                font-size: 1.5rem;
                position: relative;
                &:hover{
                    &:after{
                        content: '';
                        background: $secondary-color;
                        height: 4px;
                        left: 20px;
                        right: 20px;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        @media(max-width: 991px){
                            display:none;
                        }
                    }
                }
                @media(max-width:991px){
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    width:100%;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
            }
            &.current-menu-item{
                a{
                    &:after{
                        content: '';
                        background: $secondary-color;
                        height: 4px;
                        left: 20px;
                        right: 20px;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        @media(max-width: 991px){
                            display:none;
                        }
                    } 
                }
            }
        }
        @media(max-width:991px){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            min-height:100vh;
        }
    }
    @media(max-width:991px){
        display:none;
        position: absolute;
        top: 0;
        width: 100%;
    }
}