.home-hero{
    &--image{
        background-size: cover;
        background-position: center right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 80vh;
        &--text{
            font-size:40px;
            font-size:4rem;
        }
    }
    &--slider{ 
        &--slide{
            background-size: cover;
            background-position: center right;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            height: 80vh;
            &--text{
                font-size:40px;
                font-size:4rem;
            }
        }
    }
}

.home-solutions-bar{
    background: $secondary-color;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-size: 1.6rem;
    select{
        padding: 7px;
        border-radius: 3px;
        background: #545c66;
        color: #fff;
        border: 0;
        outline:0;    
        margin: 5px;
    }
}
.home-solution-single{
    .default{
        &--opening{
            max-width:800px;
            width:100%;
            padding:40px 20px;
            margin: 0 auto;
            p{
                margin:0;
                text-align: center;
                font-size:17px;
                font-size:1.7rem;
                line-height: 1.3;
            }
        }
        &--quaters{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            padding:50px 0;
            &--single{
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
                padding: 0 50px;
                border-right: 1px solid #ccc;
                &__4{
                    border:0;
                }
                @media (max-width:1024px){
                    &__2{
                        border:0;
                    }
                }
                @media (max-width:600px){
                    border:0;
                }
                &--icon{
                    text-align: center;
                    padding-bottom: 10px;
                    img{
                        width:70px;
                        height:auto;
                    }
                }
                &--text{
                    font-size: 16px;
                    font-size:1.6rem;
                }
                @media (max-width:1024px){
                    min-width:50%;
                }
                @media (max-width:600px){
                    min-width:100%;
                }
                &__3, &__4{
                    @media (max-width:1024px){
                        margin-top:30px;
                    } 
                    @media (max-width:1024px){
                        margin-top:30px;
                    } 
                }
            }
        }
    }
    &__solution{
        text-align:center;
        padding:100px;
        background-image: url('/wp-content/themes/iplan/assets/img/worldbg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width:767px){
            padding:20px; 
        }
        &--inner{
            background: #fff;
            border-radius: 10px;
            padding: 50px;
            position: relative;
            max-width:900px;
            @media (max-width:767px){
                padding:50px 10px 10px 10px; 
            }
            &--close{
                position: absolute;
                font-size: 22px;
                right: 20px;
                top: 10px;
                cursor: pointer;
            }
            h2{
                margin: 0 0 10px 0;
                padding: 0 0 10px 0;
                border-bottom: 1px solid #009ee2;
                font-size:18px;
                font-size:1.8rem;
            }
            &--icon{
                width:100px;
                height:auto;
                display:block;
                margin: 30px auto;
            }
            &--text{
                font-size:19px;
                font-size:1.9rem;
            }
            &--more{
                font-weight:bold;
                font-size: 15px;
                font-size:1.5rem;
                color: #000;
                text-decoration: none;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}   
.homeabout{
    padding:40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img{
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
        @media (max-width:767px){
            width: 200px;
            height: 200px;
        }
    }
}
.about-text{
    font-size: 19px;
    font-size: 1.9rem;
    max-width: 900px;
    line-height: 1.5;
    padding: 20px;
}
.home-latest-articles--main-title{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
}
.home-latest-articles{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    &--single{
        -webkit-box-flex:1;
            -ms-flex:1;
                flex:1;
        text-align: center;
        padding:30px;
        &--image{
            height: 200px;
            width: 100%;
            background-position: center;
            background-size: cover;
        }
        &--title{
            font-size: 22px;
            font-size: 2.2rem;
            padding-top:10px;
        }
        &--text{
            font-size: 15px;
            padding: 20px 0;
        }
        &--more{
            font-weight:bold;
            font-size: 15px;
            font-size:1.5rem;
            color: #000;
            text-decoration: none;
            &:hover{
                color: $primary-color;
            }
        }
    }
    @media (max-width: 767px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}