.solutions-header{
    text-align: center;
    padding:40px 20px;
    max-width: 800px;
    margin: 0 auto;
    h1{
        font-size:22px;
        font-size:2.2rem;
    }
    p{
        font-size:16px;
        font-size:1.6rem;
    }
}
.solutions-page{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    background:#eaedf2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 0;
    &--solution{
        -webkit-box-flex:1;
            -ms-flex:1 1 33.333%;
                flex: 1 1 30%;
        max-width: 33%;
        background: #fff;
        margin: 20px;
        padding: 30px;
        text-align: center;
        display: -webkit-box;
            display: -ms-flexbox;
                display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        color:#000;
        text-decoration: none;
        &--title{
            font-weight: bold;
            font-size: 15px;
            font-size:1.5rem;
        }
        img{
            width:auto;
            height:120px;;
            padding:20px;
        }
        &:hover{
            background:#d2d6e3;
        }
    } 
}