@font-face { font-family: ProximaNovaLight; src: url("../fonts/proxima_nova_thin.ttf") format("ttf"), url("../fonts/proxima_nova_thin.woff") format("woff"); font-weight: lighter; }
@font-face { font-family: ProximaNovaBold; src: url("../fonts/proxima_nova_bold.ttf") format("ttf"), url("../fonts/proxima_nova_bold.woff") format("woff"); font-weight: bold; }
@font-face { font-family: ProximaNova; src: url("../fonts/proxima_nova_reg.ttf") format("ttf"), url("../fonts/proxima_nova_reg.woff") format("woff"); font-weight: normal; }
html { font-size: 62.5%; }

body { margin: 0; font-family: ProximaNova, Arial, Helvetica, sans-serif; font-weight: normal; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

.container { width: 100%; max-width: 1120px; margin: 0 auto; padding: 0 20px; }

a { -webkit-transition: .2s linear all; transition: .2s linear all; }

.head-top { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px 40px; }
.head-top--left { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; }
.head-top--left a img { width: 100%; max-width: 407px; max-height: 60px; }
@media (max-width: 767px) { .head-top--left a img { max-width: 100%; max-height: 100%; margin: 0 auto; display: block; padding: 10px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; } }
.head-top--right { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; }
.head-top--right a { padding: 7px 50px; text-decoration: none; border-radius: 10px; text-transform: uppercase; float: right; font-size: 15px; font-size: 1.5rem; }
@media (max-width: 767px) { .head-top--right a { display: inline-block; width: auto; float: none; padding: 10px 20px; } }
.head-top--right .mobile-menu-trigger { display: none; float: right; width: 40px; margin-left: 30px; position: relative; cursor: pointer; }
@media (max-width: 991px) { .head-top--right .mobile-menu-trigger { display: block; } }
@media (max-width: 767px) { .head-top--right .mobile-menu-trigger { position: absolute; right: 10px; top: 10px; } }
.head-top--right .mobile-menu-trigger #bar1 { height: 6px; width: 100%; background: #172d38; display: block; -webkit-transition: .2s linear all; transition: .2s linear all; }
.head-top--right .mobile-menu-trigger #bar2 { height: 6px; width: 100%; background: #172d38; display: block; margin: 6px 0; }
.head-top--right .mobile-menu-trigger #bar3 { height: 6px; width: 100%; background: #172d38; display: block; -webkit-transition: .2s linear all; transition: .2s linear all; }
.head-top--right .mobile-menu-trigger.active { z-index: 999; }
.head-top--right .mobile-menu-trigger.active #bar1 { -webkit-transform: rotate(45deg); transform: rotate(45deg); margin-top: 12px; }
.head-top--right .mobile-menu-trigger.active #bar2 { display: none; }
.head-top--right .mobile-menu-trigger.active #bar3 { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -6px; }
@media (max-width: 767px) { .head-top--right { width: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }
@media (max-width: 767px) { .head-top--left { width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }
@media (max-width: 991px) { .head-top { border-bottom: 3px solid #172d38; } }
@media (max-width: 767px) { .head-top { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; padding: 10px; } }

nav { background: #d2d6e3; }
nav #menu-main-nav { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; max-width: 1120px; margin: 0 auto; padding: 0 20px; }
nav #menu-main-nav > li { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; list-style: none; }
@media (max-width: 991px) { nav #menu-main-nav > li { display: -webkit-box; display: -ms-flexbox; display: flex; } }
nav #menu-main-nav > li > a { padding: 15px 5px; display: block; text-align: center; text-decoration: none; color: #172d38; text-transform: uppercase; font-size: 15px; font-size: 1.5rem; position: relative; }
nav #menu-main-nav > li > a:hover:after { content: ''; background: #172d38; height: 4px; left: 20px; right: 20px; display: block; position: absolute; bottom: 0; }
@media (max-width: 991px) { nav #menu-main-nav > li > a:hover:after { display: none; } }
@media (max-width: 991px) { nav #menu-main-nav > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
nav #menu-main-nav > li.current-menu-item a:after { content: ''; background: #172d38; height: 4px; left: 20px; right: 20px; display: block; position: absolute; bottom: 0; }
@media (max-width: 991px) { nav #menu-main-nav > li.current-menu-item a:after { display: none; } }
@media (max-width: 991px) { nav #menu-main-nav { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; } }
@media (max-width: 991px) { nav { display: none; position: absolute; top: 0; width: 100%; } }

footer { background: #1d1d1b; padding: 40px; }
footer .footer-columns { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }
footer .footer-columns--column { -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; color: #b2b2b2; }
@media (max-width: 991px) { footer .footer-columns--column { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; } }
@media (max-width: 767px) { footer .footer-columns--column { width: 100%; } }
@media (max-width: 991px) { footer .footer-columns--column.footer-column-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }
@media (max-width: 991px) { footer .footer-columns--column.footer-column-2 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }
@media (max-width: 767px) { footer .footer-columns--column.footer-column-2 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }
@media (max-width: 991px) { footer .footer-columns--column.footer-column-3 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }
@media (max-width: 767px) { footer .footer-columns--column.footer-column-3 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }
footer .footer-columns--column h2 { font-size: 22px; font-size: 2.2rem; font-weight: normal; }
footer .footer-columns--column ul { padding: 0; }
footer .footer-columns--column ul li { list-style: none; }
footer .footer-columns--column ul li a { color: #b2b2b2; text-decoration: none; font-size: 15px; font-size: 1.5rem; padding: 5px; display: inline-block; }
footer .footer-columns--column ul li a:hover { color: #f29200; }
@media (max-width: 767px) { footer .footer-columns { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
footer .footer-contact { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; color: #b2b2b2; font-size: 20px; font-size: 2rem; margin-top: 50px; }
@media (max-width: 600px) { footer .footer-contact { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
footer .footer-contact a { color: #b2b2b2; text-decoration: none; font-size: 20px; font-size: 2rem; }
footer .footer-contact a:hover { color: #f29200; }
footer .footer-contact--telephone { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: right; margin-right: 20px; }
@media (max-width: 600px) { footer .footer-contact--telephone { text-align: center; margin: 0; } }
footer .footer-contact--email { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: left; margin-left: 20px; }
@media (max-width: 600px) { footer .footer-contact--email { text-align: center; margin: 0; } }
footer .footer-copy { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #b2b2b2; margin-top: 20px; font-size: 13px; font-size: 1.3rem; }
footer .footer-copy span { margin: 0 5px; text-align: center; }
footer .footer-copy a { margin: 0 5px; color: #b2b2b2; text-decoration: none; }
footer .footer-copy a:hover { color: #f29200; }
footer .footer-social { text-align: center; padding-top: 30px; font-size: 30px; }
footer .footer-social a { color: #fff; margin: 0 10px; }
footer .footer-social a:hover { color: #f29200; }

.home-hero--image { background-size: cover; background-position: center right; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 80vh; }
.home-hero--image--text { font-size: 40px; font-size: 4rem; }
.home-hero--slider--slide { background-size: cover; background-position: center right; display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 80vh; }
.home-hero--slider--slide--text { font-size: 40px; font-size: 4rem; }

.home-solutions-bar { background: #172d38; color: #fff; padding: 20px; text-transform: uppercase; text-align: center; font-size: 16px; font-size: 1.6rem; }
.home-solutions-bar select { padding: 7px; border-radius: 3px; background: #545c66; color: #fff; border: 0; outline: 0; margin: 5px; }

.home-solution-single .default--opening { max-width: 800px; width: 100%; padding: 40px 20px; margin: 0 auto; }
.home-solution-single .default--opening p { margin: 0; text-align: center; font-size: 17px; font-size: 1.7rem; line-height: 1.3; }
.home-solution-single .default--quaters { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 50px 0; }
.home-solution-single .default--quaters--single { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 0 50px; border-right: 1px solid #ccc; }
.home-solution-single .default--quaters--single__4 { border: 0; }
@media (max-width: 1024px) { .home-solution-single .default--quaters--single__2 { border: 0; } }
@media (max-width: 600px) { .home-solution-single .default--quaters--single { border: 0; } }
.home-solution-single .default--quaters--single--icon { text-align: center; padding-bottom: 10px; }
.home-solution-single .default--quaters--single--icon img { width: 70px; height: auto; }
.home-solution-single .default--quaters--single--text { font-size: 16px; font-size: 1.6rem; }
@media (max-width: 1024px) { .home-solution-single .default--quaters--single { min-width: 50%; } }
@media (max-width: 600px) { .home-solution-single .default--quaters--single { min-width: 100%; } }
@media (max-width: 1024px) { .home-solution-single .default--quaters--single__3, .home-solution-single .default--quaters--single__4 { margin-top: 30px; } }
@media (max-width: 1024px) { .home-solution-single .default--quaters--single__3, .home-solution-single .default--quaters--single__4 { margin-top: 30px; } }
.home-solution-single__solution { text-align: center; padding: 100px; background-image: url("/wp-content/themes/iplan/assets/img/worldbg.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }
@media (max-width: 767px) { .home-solution-single__solution { padding: 20px; } }
.home-solution-single__solution--inner { background: #fff; border-radius: 10px; padding: 50px; position: relative; max-width: 900px; }
@media (max-width: 767px) { .home-solution-single__solution--inner { padding: 50px 10px 10px 10px; } }
.home-solution-single__solution--inner--close { position: absolute; font-size: 22px; right: 20px; top: 10px; cursor: pointer; }
.home-solution-single__solution--inner h2 { margin: 0 0 10px 0; padding: 0 0 10px 0; border-bottom: 1px solid #009ee2; font-size: 18px; font-size: 1.8rem; }
.home-solution-single__solution--inner--icon { width: 100px; height: auto; display: block; margin: 30px auto; }
.home-solution-single__solution--inner--text { font-size: 19px; font-size: 1.9rem; }
.home-solution-single__solution--inner--more { font-weight: bold; font-size: 15px; font-size: 1.5rem; color: #000; text-decoration: none; }
.home-solution-single__solution--inner--more:hover { color: #f29200; }

.homeabout { padding: 40px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.homeabout img { width: 300px; height: 300px; display: block; margin: 0 auto; }
@media (max-width: 767px) { .homeabout img { width: 200px; height: 200px; } }

.about-text { font-size: 19px; font-size: 1.9rem; max-width: 900px; line-height: 1.5; padding: 20px; }

.home-latest-articles--main-title { text-align: center; font-size: 20px; margin: 20px 0 0 0; }

.home-latest-articles { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.home-latest-articles--single { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; padding: 30px; }
.home-latest-articles--single--image { height: 200px; width: 100%; background-position: center; background-size: cover; }
.home-latest-articles--single--title { font-size: 22px; font-size: 2.2rem; padding-top: 10px; }
.home-latest-articles--single--text { font-size: 15px; padding: 20px 0; }
.home-latest-articles--single--more { font-weight: bold; font-size: 15px; font-size: 1.5rem; color: #000; text-decoration: none; }
.home-latest-articles--single--more:hover { color: #f29200; }
@media (max-width: 767px) { .home-latest-articles { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.solutions-header { text-align: center; padding: 40px 20px; max-width: 800px; margin: 0 auto; }
.solutions-header h1 { font-size: 22px; font-size: 2.2rem; }
.solutions-header p { font-size: 16px; font-size: 1.6rem; }

.solutions-page { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; background: #eaedf2; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; padding: 10px 0; }
.solutions-page--solution { -webkit-box-flex: 1; -ms-flex: 1 1 33.333%; flex: 1 1 30%; max-width: 33%; background: #fff; margin: 20px; padding: 30px; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: #000; text-decoration: none; }
.solutions-page--solution--title { font-weight: bold; font-size: 15px; font-size: 1.5rem; }
.solutions-page--solution img { width: auto; height: 120px; padding: 20px; }
.solutions-page--solution:hover { background: #d2d6e3; }
